<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Serif+JP:wght@400;500&family=Noto+Serif+SC:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ '/assets/images/shiori-icon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.time | date: '%s' }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include subscription.html %}
    {% if page.layout == 'post' %}
      <script defer src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_c74039748e1bf2994bb76504bf7222"></script>
    {% endif %}
    {% if site.cloudflare_beacon_token %}
      <!-- Cloudflare Web Analytics -->
      <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "{{ site.cloudflare_beacon_token }}"}'></script>
      <!-- End Cloudflare Web Analytics -->
    {% endif %}
  </body>
</html>
